@font-face{
	font-family: 'Caveat';
	src: url('Caveat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Caveat';
	src: url('Caveat-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
p, h1, h3{font-family: Caveat;}
